server:
  port: 8888
spring:
  application:
    name: gateway-service
  cloud:
    consul:
      enabled: false
      discovery:
        enabled: false
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
      routes:
        - id: client-service
          uri: http://localhost:8087
          predicates:
            - Path=/client-service/**
          filters:
            - StripPrefix=1
        - id: voiture-service
          uri: http://localhost:8089
          predicates:
            - Path=/voiture-service/**
          filters:
            - StripPrefix=1
